[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "*"
Flask-JWT-Extended = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
bcrypt = "*"
mysql-connector = "*"
zeep = "*"

[requires]
python_version = "3.7"
