{% extends 'base.jinja2' %}

{% set owner = "info" %}

{% block content %}

<div class="alert alert-success" role="alert">
    <h1>Flask {{ flask_version}} is up and running!</h1>
</div>


{% endblock %}